<div class="game-room">
    <h2>Game Room - Chat for Game {{gameName}}</h2>
    
    <!-- Timer for the current turn -->
    <div class="word-field">
        <h1>Not generated yet</h1>
    </div>

    <div class="timer-container">
        <h3>Time Left:</h3>
        <div id="timer" class="timer-box">60</div>
    </div>

    <!-- Display current describer and guessers -->
    <div id="roles">
        <p><strong>Describer:</strong> <span id="describer">Waiting...</span></p>
        <p><strong>Guessers:</strong> <span id="guessers">Waiting...</span></p>
    </div>

    <!-- Section displaying team messages -->
    <div class="chat-window">
        <h3>Chat History</h3>
        <div class="chat-messages">
            {{#each messages}}
            <p><strong>{{this.username}}:</strong> {{this.message}}</p>
            {{/each}}
        </div>
    </div>

    <!-- Chat input for the current user -->
    <div class="chat-input">
        <h4>Send a message as {{currentUser}}</h4>
        <form id="chat-form" data-game-id="{{gameName}}" data-current-user="{{currentUser}}">
            <input id="message-input" type="text" name="message" placeholder="Type your message..." autocomplete="off" required>
            <input type="hidden" name="username" value="{{currentUser}}">
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="/js/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/wordGenerator.js"></script>
</div>
